.filter {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
}
.company-list {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .company-list {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .filter {
        position: -webkit-sticky;
        position: sticky;
        justify-content: flex-start;
        top: 1px;
    }
}