.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: auto;
}
@media screen and (min-width: 1024px) {
    .layout {
        max-width: 1024px;
    }
}
