.company-item {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
}
.logo {
    display: flex;
    max-width: 45%;
    align-self: center;
    width: fit-content;
    height: fit-content;
}
.info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.details {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .company-item {
        flex-direction: column;
    }
    .logo {
        max-width: 100%;
    }
    .info {
        flex-direction: column;
    }
    
}