<div class="filter">
    <form [formGroup]="filterForm" >
        <h3>Filter</h3>
        <input type="text" placeholder="Company name" id="company-name" formControlName="companyName" (input)="handlerForm()"  />

        <label for="company-type">Company type</label>
        <select name="company-type" id="company-type" formControlName="companyType" (change)="handlerForm()" >
            <option selected value="">Choose type of company</option>
            @for (type of types; track $index) {
                <option [value]="type">{{type}}</option>
            }
        </select>

        <label for="company-industry">Company industry</label>
        <select name="company-industry" id="company-industry" formControlName="companyIndustry" (change)="handlerForm()" >
            <option selected value="">Choose industry of company</option>
            @for (industry of industries; track $index) {
                <option [value]="industry">{{industry}}</option>
            }

        </select>
    </form>
</div>