.filter {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
.company-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.company-industry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}